:root {
  --logo-color: #000000;
  --nav-color: #2196f3;
  --header-nav: #212121;
  --tel-color: #757575;
  --header-title: #ffffff;
  --background: #f5f4fa;
  --program-color: #afb1b8;
  --footer-background: #2f303a;
  --footer-tel: rgba(255, 255, 255, 0.6);
}
body {
  margin: 0 auto;
  width: 1600px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header-span {
  font-family: "Raleway", sans-serif;
  color: var(--nav-color);
  font-size: 26px;
}
.header-item {
  font-family: "Roboto", sans-serif;
  color: var(--header-nav);
}
.header-item:hover {
  color: var(--nav-color);
}
.nav-mail {
  color: var(--tel-color);
  font-family: "Roboto", sans-serif;
}
.nav-telephone {
  color: var(--tel-color);
  font-family: "Roboto", sans-serif;
}
.nav-mail:hover {
  color: var(--nav-color);
}
.nav-telephone:hover {
  color: var(--nav-color);
}
.header-logo {
  margin-left: 215px;
  margin-top: 24px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: var(--logo-color);
}
.header-list{
  display: flex;
  gap: 53px;
  margin-left: 453px;
  margin-top: 22px;
  
}
.nav-list{
  display: flex;
  gap: 31px;
  margin-left: 1052px;
  margin-top: -33px;
}
.menu-section{
  background: url(photo/3.png), no-repeat;
  height: 600px;
  margin-top: 34px;
}
.menu-title{
  color: var(--header-title);
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  text-align: center;
  padding-top: 200px;
}
.menu-button{
  background: var(--nav-color);
  border: none;
  border-radius: 5px;
  margin-left: 692px;
}
.text-button{
  color: var(--header-title);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 19px 32px 19px 32px;
}
.attention-to-detail-list{
  display: flex;
  gap: 30px;
  margin-left: 180px;
  margin-top: 97px;
}
.attention-to-detail-item{
  background: var(--background);
  border-radius: 5px;
}
.attention-to-detail-img{
  padding: 25px 100px 25px 100px;
}
.title-item{
  counter: var(--header-nav);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.text-item{
  color: var(--tel-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.attention-to-detail-list-text{
  display: flex;
  gap: 66px;
  margin-left: 180px;
}
.What-we-do-title{
  color: var(--header-nav);
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-top: 108px;
}
.What-we-do-list{
  display: flex;
  gap: 30px;
  margin-left: 180px;
  margin-top: 60px;
}