:root {
  --logo-color: #000000;
  --nav-color: #2196f3;
  --header-nav: #212121;
  --tel-color: #757575;
  --header-title: #ffffff;
  --background: #f5f4fa;
  --program-color: #afb1b8;
  --footer-background: #2f303a;
  --footer-tel: rgba(255, 255, 255, 0.6);
}
body {
  margin: 0 auto;
  width: 1600px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header-span {
  font-family: "Raleway", sans-serif;
  color: var(--nav-color);
  font-size: 26px;
}
.header-item {
  font-family: "Roboto", sans-serif;
  color: var(--header-nav);
}
.header-item:hover {
  color: var(--nav-color);
}
.nav-mail {
  color: var(--tel-color);
  font-family: "Roboto", sans-serif;
}
.nav-telephone {
  color: var(--tel-color);
  font-family: "Roboto", sans-serif;
}
.nav-mail:hover {
  color: var(--nav-color);
}
.nav-telephone:hover {
  color: var(--nav-color);
}
.header-logo {
  margin-left: 215px;
  margin-top: 24px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: var(--logo-color);
}
.header-list {
  display: flex;
  gap: 53px;
  margin-left: 453px;
  margin-top: 22px;
}
.nav-list {
  display: flex;
  gap: 31px;
  margin-left: 1052px;
  margin-top: -33px;
}
.menu-section {
  background: url(photo/3.png), no-repeat;
  height: 600px;
  margin-top: 34px;
}
.menu-title {
  color: var(--header-title);
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  text-align: center;
  padding-top: 200px;
}
.menu-button {
  background: var(--nav-color);
  border: none;
  border-radius: 5px;
  margin-left: 692px;
}
.text-button {
  color: var(--header-title);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 19px 32px 19px 32px;
}
.attention-to-detail-list {
  display: flex;
  gap: 30px;
  margin-left: 180px;
  margin-top: 97px;
}
.attention-to-detail-item {
  background: var(--background);
  border-radius: 5px;
}
.attention-to-detail-img {
  padding: 25px 100px 25px 100px;
}
.title-item {
  counter: var(--header-nav);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.text-item {
  color: var(--tel-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.attention-to-detail-list-text {
  display: flex;
  gap: 66px;
  margin-left: 180px;
}
.what-we-do-title {
  color: var(--header-nav);
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-top: 108px;
}
.what-we-do-list {
  display: flex;
  gap: 30px;
  margin-left: 180px;
  margin-top: 60px;
}
.people-team {
  background-color: var(--background);
}
.team-caption {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  text-align: center;
  padding-top: 94px;
  margin-top: 94px;
}
.info-team {
  background-color: var(--header-title);
  width: 270px;
  height: 428px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.wrapper_people_icon {
  display: flex;
  gap: 34px;
  padding-left: 44px;
  margin-top: 28px;
}
.name-people {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  color: var(--header-nav);
  margin-top: 30px;
}
.paragraph-people {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  color: var(--tel-color);
  margin-top: 10px;
}
.cards-people {
  display: flex;
  gap: 30px;
  margin-left: 180px;
  margin-top: 50px;
  padding-bottom: 94px;
}
.regular-clients-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-top: 94px;
}
.regular-clients-item {
  box-sizing: border-box;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  width: 170px;
  height: 92px;
}
.regular-clients-img{
  padding-left: 64px;
  padding-top: 23px;
}
.regular-clients-img2{
  padding-left: 65px;
  padding-top: 19px;
}
.regular-clients-img3{
  padding-left: 62px;
  padding-top: 25px;
}
.regular-clients-img4{
  padding-left: 43px;
  padding-top: 25px;
}
.regular-clients-img5{
  padding-left: 54px;
  padding-top: 23px;
}
.regular-clients-img6{
  padding-left: 38px;
  padding-top: 23px;
}
.regular-clients-list{
  display: flex;
  gap: 30px;
  margin-left: 185px;
  margin-top: 50px;
}
/* ---------------footer--------------- */
.footer {
  background-color: var(--background-color);
  width: 1519px;
}

.footer_address {
  font-family: var(--roboto-fonts);
  color: var(--white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.mail_addres {
  color: var(--second-color);
  font-family: var(--roboto-fonts);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
}

.telephone_addres {
  color: var(--second-color);
  font-family: var(--roboto-fonts);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
}

.logo-footer {
  color: var(--section-color);
  font-family: var(--raleway-fonts);
  font-size: 26px;
  margin-top: 60px;
  font-weight: 700;
}

.wrapper_footer_logo {
  margin-top: 60px;
}

.footer_caption {
  color: var(--white-color);
  font-family: var(--roboto-fonts);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
  margin-left: 270px;
  margin-top: -147px;
}

.footer_list_icon {
  margin-left: 265px;
  margin-top: 20px;
  gap: 10px;
}